* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0F0F0;
}
body {
    background-color: #F0F0F0;
}
#website-fonts {
    font-family: 'Abel', sans-serif;
}
#logo {
    width: 10%;
    height: auto;
}
#header {
    margin-top: 5em;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: xxx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sub-header {
    margin-top: 1em;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: xxx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dots {
    margin-top: 2em;
}
#red-dot {
    background-color: #E6563B;
    border: solid 5px #FFFFFF;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
}
#orange-dot {
    background-color: #EB9D3A;
    border: solid 5px #FFFFFF;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
}
#green-dot {
    background-color: #7CB06C;
    border: solid 5px #FFFFFF;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
}
#blue-dot {
    background-color: #00ABA9;
    border: solid 5px #FFFFFF;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
}
#img-icons {
    display: flex;
    justify-content: end;
    margin: .5em;
    float: right;
}
#red-sm-dot {
    background-color: #E6563B;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Anton", sans-serif;
    font-size: smaller;
    margin: 0 .25em;
}
#orange-sm-dot {
    background-color: #EB9D3A;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Anton", sans-serif;
    font-size: smaller;
    margin: 0 .25em;
}
#green-sm-dot {
    background-color: #7CB06C;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Anton", sans-serif;
    font-size: smaller;
    margin: 0 .25em;
}
#blue-sm-dot {
    background-color: #00ABA9;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Anton", sans-serif;
    font-size: smaller;
    margin: 0 .25em;
}
#feat-proj {
    display: flex;
    justify-content: start;
    margin: 1em;
    font-family: "Abel", sans-serif;
    float: left;
}
p {
    display: flex;
    justify-content: center;
}
#imgs:hover {
    /*border: solid #E6E6E6 188px;*/
    background-color: yellow;
}