* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0F0F0;
}
body {
    background-color: #F0F0F0;
}
#main{
    /*display: flex;*/
    /*justify-content: space-between;*/
}
#website-fonts {
    font-family: 'Abel', sans-serif;
}
#logo {
    margin: 1em;
    border: solid .5px #F0F0F0;
    border: 50%;
    width: 5em;
    height: auto;
}
h1 {
    margin: auto;
    width: 100%
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 4em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    margin-top: 1em;
    margin: auto;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: xxx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dots {
    padding: 2em;
    display: flex;
    justify-content: space-between;

    width: 44%;
    margin: auto;


}
#red-dot {
    padding: 2em;
    background-color: #E6563B;
    border: solid 5px #FFFFFF;
    border-radius: 50%;

    height: 78px;
    width: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
}
#orange-dot {
    padding: 1em;
    background-color: #EB9D3A;
    border: solid 5px #FFFFFF;
    border-radius: 50%;
    height: 78px;
    width: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
}
#green-dot {
    padding: 1em;
    background-color: #7CB06C;
    border: solid 5px #FFFFFF;
    border-radius: 50%;
    height: 78px;
    width: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
}
#blue-dot {
    padding: 1em;
    background-color: #00ABA9;
    border: solid 5px #FFFFFF;
    border-radius: 50%;
    height: 78px;
    width: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
}

#left-images{
    border: solid 4px darkgray;
    margin: .5em;
    width: 450px;
    height: 450px;
}
#left-side {

}

#img-icons {
    display: flex;
    justify-content: end;
    margin: .5em;
    float: right;
}
#red-sm-dot {
    background-color: #E6563B;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Anton", sans-serif;
    font-size: smaller;
    margin: 0 .25em;
}
#orange-sm-dot {
    background-color: #EB9D3A;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Anton", sans-serif;
    font-size: smaller;
    margin: 0 .25em;
}
#green-sm-dot {
    background-color: #7CB06C;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Anton", sans-serif;
    font-size: smaller;
    margin: 0 .25em;
}
#blue-sm-dot {
    background-color: #00ABA9;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Anton", sans-serif;
    font-size: smaller;
    margin: 0 .25em;
}
#feat-proj {
    display: flex;
    justify-content: start;
    margin: 1em;
    font-family: "Abel", sans-serif;
    float: left;
}
p {
    display: flex;
    justify-content: center;
}
#rgt-images {


    display: flex;
    width:  50px;
    height: auto;

    margin: .5em;
}
#rgt-sd {
    margin-left: 4em;
    height: 65%;
    /*border: solid red 2px;*/
    display: flex;
    /*flex-direction: column;*/
    font-family: "Anton", sans-serif;
}
#right-text{


    display: flex;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin: 1em;
    font-size: x-large;



}
#thumbnails {
    /*border: solid yellow 3px;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
#last-tweet {
    position: relative;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;

    /*border: orange solid 1px;*/
    font-family: "Abel", sans-serif;
}
#tweet {
    margin: .5em;
    display: flex;
    height: 15%;
    width: 15%;
}
#content {
    position: absolute;
    top: 100%;
    left: 0;
    margin: .5em;


}
#rgt-sd {

    display: flex;
    flex-direction: column;
    font-family: "Anton", sans-serif;

}